<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Announcements app </title>
  </head>
  <body>
    <h1>Announcements</h1>
    <p>
      This is the home page for the application number two of Bootcamp about "Ruby on Rails"
    </p>
  </body>
</html>
