<% provide(:title, "My posts") %>
<h1>My posts</h1>

<h3><%= params[:user_name]%></h3>
<% @announcements.each do |announcement| %>
  <div class="center jumbotron">
    <ul>
      <h3><%= announcement.content %></h3>
      <h5><b>Created at:</b> <%= announcement.created_at.strftime("%A , %d %B %Y at %H:%M") %></h5>
      <h2> <%= link_to "Delete", announcement, method: :delete, data: { confirm: "Are you sure?" } %></h2>
    </ul>
  </div>
<% end %>
