<% provide(:title, "My posts") %>
<h1>My posts</h1>

<% @announcements.each do |announcement| %>
  <div class="center jumbotron">
    <ul>
      <h3><%= announcement.content %></h3>
      <h5><%= announcement.updated_at %></h5>
      <h2> <%= link_to "Delete", announcement, method: :delete, data: { confirm: "Are you sure?" } %></h2>
    </ul>
  </div>
<% end %>
